dist/**
!jest.config.js
!.eslintrc.json
*.js
*.d.ts
node_modules
.idea
*.iml
*.zip
.DS_Store
.cache
target
test-reports
.settings/
.env
.cdk.staging
cdk.out
.vscode/
reports/**
coverage/**
cdk.context.json